.characters-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
}

.characters-page-background {
  background-image: linear-gradient(180deg, transparent, #23242a 80%),
    url("https://www.prydwen.gg/static/website_bg-344902fb3b06dc28400340c8de2e6d56.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.characters-page h2 {
  color: #fff;
  font-size: 2rem;
  margin: 60px;
}

.card-container {
  display: grid;
  grid-gap: 10px 5px;
  grid-template-columns: repeat(auto-fill, 140px);
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
}

.not-found-image {
  margin-top: 10px;
}
